@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

:root {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.error-text{
  color: #e0b252;
  padding: 15px 15px 15px 40px;
  display: flex;
  width: 100%;
  font-size: 14px;
  border: 2px solid #e0b25280;
  align-items: center;
}

.error-text svg{
  margin-bottom: 5px;
  margin-right: 15px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    button {
        background-color: #f9f9f9;
    }
}

html,
body,
#root {
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

nav a,
nav .menu-link {
    color: #fff !important;
}


/* BREADCRUMB */
.breadcrumb{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.breadcrumb-link, .breadcrumb-path{
  color: #222222 !important;
  text-transform: capitalize;
  font-size: 13px;
  margin-right: 18px;
  display: inline-block;
  position: relative;
  transition: all .2s ease-in;
}

.breadcrumb-link:hover{
  color: #ab966f !important;
}

.breadcrumb-link::after{
  content: ">";
  font-size: 13px;
  margin-left: 2px;
  color: #222222;
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 10px;
  position: absolute;
  top: 6px;
}

.breadcrumb-path{
  color: #222222;
  opacity: 0.6;
}


.cart-button{
  background: transparent;
}

.cart-button:hover{
  background: transparent;
}

footer{
  text-align: left;
}

footer h3{
  margin-bottom: 30px;
  font-size: 16px;
}

footer li{
  font-size: 13px;
  margin-bottom: 10px;
}

footer li:hover{
  transition: all .1s ease-in;
  color: #ab966f;
}

.footer-get-in-touch-link{
  display: flex;
  align-items: center;
  font-size: 13px;
}

.footer-get-in-touch-link svg{
  width: 24px;
  height: 24px;
}

.footer-get-in-touch-link:first-child svg{
  width: 18.73px !important;
  height: 30px !important;
}


/* ABOUT US */
.about-us-page{
  text-align: left;
  color: #878787;
  margin: 0 auto;
}

.about-us-page img{
  margin: 0 auto 20px auto;
  width: 100%;
}

.about-us-first-img{
  margin-top: 50px !important;
}

.about-us-page p {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 15px;
}

.about-us-quote{
  text-align: center !important;
  font-size: 22px !important;
  font-weight: 100;
  padding: 60px 0px !important;
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

.about-us-title{
  color: #000;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 60px;
  margin-top: 60px;
}

/* Contact Us */
.contact-us-page{
  text-align: left;
  color: #878787;
  margin: 0 auto;
  background: red;
  min-height: 50vh !important;
}

.contact-us-page p{
  margin-bottom: 20px;
  font-size: 14px;
}

.contact-us-page p:first-child{
  margin-top: 50px;
}


/* refund-policy  shipping-policy*/
.refund-policy-page, .shipping-policy-page{
  text-align: left;
  color: #878787;
  margin: 0 auto;
  font-size: 14px;
}

.shipping-policy-page{
  min-height: 50vh !important;
}

.refund-policy-title, .shipping-policy-title{
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.refund-policy-text, .shipping-policy-text{
  line-height: 150%;
}

.refund-policy-page p{
  margin-top: 20px;
}

.shipping-policy-page p{
  margin-top: 20px;
}


/* privacy-policy */
.privacy-policy-page{
  text-align: left;
  color: #878787;
  margin: 0 auto;
  font-size: 14px;
}

.privacy-policy-page.container{
  max-width: 600px;
}

.privacy-policy-title{
  color: #000;
  font-size: 29px;
  font-weight: 900;
  margin-top: 20px;
}

.privacy-policy-title.center{
  text-align: center;
}

.privacy-policy-paragpraph{
  font-size: 14px;
  line-height: 150%;
  margin-left: 20px;
}

.privacy-policy-paragpraph.more{
  margin: 15px;
}

.privacy-policy-paragpraph.simple{
  margin-bottom: 20px;
  margin-left: 0px;
}

.privacy-policy-link{
  margin: 20px 0px;
  text-decoration: underline;
}

/* terms-of-service-page */
.terms-of-service-page{
  text-align: left;
  color: #878787;
  margin: 0 auto;
  font-size: 14px;
}

.terms-of-service-page.container{
  max-width: 600px;
}

.terms-of-service-title{
  font-weight: 900;
  margin-bottom: 8px;
  margin-top: 30px;
}

.terms-of-service-paragraph{
 margin-bottom: 20px; 
}

/* faq-page */
.faq-page{
  text-align: left;
  color: #878787;
  margin: 0 auto;
  font-size: 14px;
}

.faq-title.center{
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.faq-suptitle{
  text-decoration: underline;
  margin-bottom: 20px;
}

.faq-subtitle{
  margin-bottom: 20px;
}

.faq-text{
  margin-bottom: 20px;
  line-height: 150%;
}


/* wishList */
.wishlist_wrapper{
  color: #878787;
}

.filter-info{
  color: #000;
  text-align: left;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.products-found{
  color: #222;
  font-size: 15px;
  border-right: 1px solid #87878754;
  display: inline-block;
  padding-right: 15px;
  margin-right: 10px;
}

.products-found span{
  color: #ab966f;
}

.filter-diapazone{
  display: flex;
  align-items: center;
}

.filter-remove-button{
  background: transparent;
  padding: 0px 7px;
  cursor: pointer;
}

.filter-remove-button:focus{
  border: none !important;
}

.filter-remove-button:hover{
  border: none !important;
}